## Fonctions une par une...
##  --> Calcul des rapports 2 à 2
export( "calc.rapports" )

##  --> Création d'une matrice de p des tests 2 à 2
##             sous forme de matrice, de data.frame ou de fichier
export( "creer.Mp" )
export( "creer.DFp" )
export( "creer.Fp" )

export( "Mp.DFp" )

##  --> Création d'un graphe à partir d'une matrice de p des tests 2 à 2
export( "grf.Mp" )
export( "grf.DFp" )
export( "grf.Fp" )

##  --> Simulations sous H0 et sous H1
export( "modele_compo" )
S3method( plot , SARPcompo.modele )

export( "estimer.alpha" )
export( "estimer.puissance" )
S3method( plot , SARPcompo.simulation )

export( "distrib.distances" )

##  --> Recherche du seuil pour contrôler le risque de 1re espèce
export( "choisir.seuil" )
S3method( print, SARPcompo.H0 )
S3method( plot , SARPcompo.H0 )

##  --> Analyse des sous-groupes du graphe
export( "arbre.Mp" )
export( "coupures.Mp" )
S3method( plot, Arbre )
S3method( plot, Coupures )

## Fonctions permettant les tests usuels
exportPattern( "\\.fpc$" )              # Toutes les fonctions se finissant par fpc


## Les fonctions extérieures utilisées...
import( "stats" )
importFrom( "igraph", "V", "V<-", "add.edges", "add.vertices",
            "components", "graph_from_adjacency_matrix",
            "graph_from_data_frame", "make_empty_graph", "make_full_graph", "vertices" )
importFrom( "car"    , "Anova" )
importFrom( "graphics", "abline", "plot", "points", "segments", "text", "axis", "lines", "par", "plot.new", "barplot" )
importFrom( "utils", "read.table", "write.table" )
importFrom( "parallel", "mclapply" )

# importFrom( "stats", "lm", "anova", "as.formula" )
